.HS-Instructor{
    width: 100%;
    padding-top: 120px;
padding-left: 40px;
padding-right: 23px;
    background-color: var(--clr-bg);
}
.HS-Instructor-section2{
    margin: 0 auto;
    width: 100%;
}
.HS-Instructor-h2 h2{
color: var(--clr-text);
margin: 0 auto;
font-weight: 700;
font-size: 45px;
line-height: 55px;
margin-bottom: 60px;
text-align: center;}

.HS-Instructor-son{
    width: 100%;
    display: flex;
    justify-content: end ;
    align-items: center;
    
}
.HS-Instructor-son-img-plus{
    margin-top: -65px;
    margin-right: -75px;
    width: 230px;
    
}
.HS-Instructor-son2{
    width: 93%;
    height: 600px;
    background-color: var(--clr-primary);
    display: flex;
    justify-content: start!important;
    align-items: center;
    border-radius: 20px;
    margin-top: -60px;
    box-shadow: 0px 50px 170px 0px #0000000D;
   
}
.HS-Instructor-son2-video{
    width:97%;
    height: 95% !important; 
    display: flex;
    align-items: center;
    margin: 0 auto !important;
    
}
.HS-video{
    width: 100%;
    height: 100% !important;
    border-radius: 20px !important;
   display: flex;
   align-items: center;
   object-fit: cover;
   
}
.HS-V{
    border-radius: 20px !important; 
    height: 100% !important;
    
}
@media(max-width:1366px){
    .HS-Instructor{
       
        padding-top: 100px;
      
    }
    
}
@media(max-width:1024px){
    .HS-Instructor-h2 h2{
 
        font-size: 35px;
        margin-bottom: 50px;
    }
    .HS-Instructor-son-img-plus{
  
        width: 136px;
        margin-top: -51px;
        
        
    }
    
}

@media(max-width:375px){
    .HS-Instructor{
       
        padding-top: 50px;
    
    
    }
    .HS-Instructor-h2 h2{
 
        font-size: 28px;
        margin-bottom: 20px;
    }
}
@media(min-width:993px) and (max-width:1200px){
    .HS-Instructor{
        width: 97%;
    }    
    /* .HS-Instructor-section2{
    margin-left: 32px;
    } */
    .LK-home-section2-son1-h2{
        font-size: 35px;
        line-height: 40px;
        font-weight: 700;
    }
    .HS-Instructor-son2{
        width: 94%;
        height: 488px;
    }
    /* .HS-Instructor-son-img-plus{
        
        margin-right: -100px;
    } */
}

    @media(min-width:769px) and (max-width:992px){
        .HS-Instructor-section2{
            width: 97%;
        }
        /* .HS-Instructor{
            padding: 100px 0;
        }
       */
        .LK-home-section2-son1-h2{
            font-size: 35px;
            line-height: 40px;
            width: 420px;
        }
        .HS-Instructor-son2{
            width: 94%;
            height: 488px;
        }
        .HS-Instructor-son-img-plus{
  
            width: max-content;
           
            margin-right: -57px;
            
            
        }
    }

    @media(max-width:768px){
        .HS-Instructor-section2{
            width: calc(100% + 5px);
        }
   
        .LK-home-section2-son1-h2{
         width: 279px;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        }
        .HS-Instructor-son-img-plus{
            display: none;
        }
        .HS-Instructor-son2{
            margin-top: 0 !important;
            width: 98%;
            height: 250px;
        }
        .HS-Instructor{
         
        padding-left: 0px;
        padding-right: 0px;
            
        }
    }

