

.KG-Section-Hero {
    background-color: var(--clr-heropages);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 90px;
}
/* p{
    margin-bottom: 0px !important;
} */

.KG-Details-PartLeft {
    margin-left: 30px;
    margin-top: 21px;
}

.KG-Details-PartRight {
    margin-top: 25px;
    margin-right: 18px;
    margin-bottom: 70px;
    width: 600px;
    
}
.KG-Details-PartLeft iframe{
    width: 766px;
    height: 480px;
    object-fit: cover;
    border-radius: 10px !important;
}

.KG-Details-Path {
    font-family: Metropolis-Regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: var(--clr-inputnewletter);
    cursor: pointer;
    margin-bottom: 27px !important;
    margin-top: 25px;
}

.KG-Path-Span {
    color: var(--clr-sicon);
}

.KG-Details-Video {
    font-family: Metropolis-SemiBold;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 25px;
}

.KG-Title-PlayList {
    font-family: Metropolis-SemiBold;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
   
}

.KG-PlayList {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--clr-primary);
    width: 100%;
    margin-bottom: 16px;
    margin-right: 18px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.KG-PlayList video{
    width: 80px;
    margin: 10px;
}

.KG-Details-CardInfo-Text {
    margin-bottom: 3px;
    font-family: Metropolis-SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: var(--clr-text);
    margin-top: 16px;
}

.KG-Details-CardInfo-Time {
    font-family: Metropolis-SemiBold;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: var(--clr-icon);
}

.KG-BG-Clock-Icon {
    position: absolute;
    left: 41px;
    top: 26px;
    background-color: var(--clr-primary);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.KG-Clock-Icon {
    width: 10px;
    color: #954AE9;
}

.KG-Hidden:nth-child(7){
    /* opacity :0.5; */
    margin-bottom: 0;
}

.KG-Visible{
    opacity: 1;
}
.KG-Hidden{
    opacity: 0.5;
}

.KG-BG-Clock-Icon-Hidden{
display: none;
}

/* @media(min-width:1613px) and (max-width:1920px) {
    .KG-Details-PartRight {
        width: 600px;
    }

    .KG-Details-PartLeft video{
        width: 100%;
    }
} */

@media(min-width:1492px) and (max-width:1612px) {
    .KG-Details-PartRight {
        width: 500px;
    }

}

@media (max-width:1491px) {
    .KG-Details-PartRight {
        width: 382px;
    }
    .KG-Details-PartLeft iframe{
        width: 808px ;
    }

}
@media (max-width:1414px) {
    .KG-Details-PartRight {
        width: max-content;
    }
    .KG-Details-PartLeft iframe{
        width: 670px ;
    }
}
@media(min-width:1201px) and (max-width:1340px){
    .KG-Details-PartLeft iframe{
        width: 670px ;
    }

    .KG-Details-CardInfo-Text {
        font-size: 16px;
    }
}
@media(min-width:1025px) and (max-width:1200px){
    .KG-Details-PartLeft iframe{
        width: 450px !important;
        height: 320px;
    }
    .KG-Hidden:nth-child(6){
        display: none;
    }
    .KG-Hidden:nth-child(7){
        display: none;
    }

    .KG-Details-Video {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    .KG-Hidden:nth-child(5){
       margin-bottom: 0;
    }
}

@media(min-width:992px) and (max-width:1024px){
    .KG-Details-PartLeft iframe{
        width: 512px;
        height: 328px;
    }
    .KG-Hidden:nth-child(6){
        display: none;
    }
    .KG-Hidden:nth-child(7){
        display: none;
    }

    .KG-Details-Video {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    .KG-Hidden:nth-child(5){
       margin-bottom: 0;
    }

}

@media (max-width:991px) {
    .KG-Section-Hero {
        justify-content: center;
    }

    .KG-Title-PlayList {
        text-align: center;
    }
    /* .KG-Details-PartLeft{
        margin-left: 0;
    } */
    .KG-Details-PartRight{
    margin-left: 0px;
}
/* .KG-Details-Video{
    text-align: center;
} */

}

@media(min-width:789px) and (max-width:991px) {
    .KG-Details-PartLeft {
        width: 600px;
    }
    .KG-Details-PartLeft iframe{
        width: 550px;
        height: 250px;
    }

    .KG-Details-PartRight {
        width: 600px;
    }
    .KG-Hidden:nth-child(7){
        display: none;
    }
    .KG-Details-PartLeft {
        margin-left: 0px;
        
    }

}

@media(max-width:788px) and (min-width:567px) {
    .KG-Details-PartLeft {
        width: 450px;
    }
    .KG-Details-PartLeft iframe{
        width:450px;
        height: 250px;
    }

    .KG-Details-PartRight {
        width: 450px;
        margin-left: 30px;
    }
    .KG-Hidden:nth-child(7){
        display: none;
    }

    .KG-Details-Video {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        width: 305px;
    }

    .KG-Details-CardInfo-Text {
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
    }
}

@media(max-width:566px) {
    .KG-Details-PartLeft {
        width: 95%;
    }
    .KG-Details-PartLeft iframe{
        width: 95%;
        height: 200px;
    }

    .KG-Details-PartRight {
        width: 95%;
        margin-left: 30px;
    }
    .KG-Hidden:nth-child(7){
        display: none;
    }

    .KG-Details-Video {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .KG-Details-CardInfo-Text {
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
    }

    .KG-PlayList {
        margin-bottom: 10px;
    }

}

@media (max-width:483px) {

    .KG-Title-PlayList {
        text-align: left;
    }
    .KG-Section-Hero{
        justify-content: flex-start;
    }
}
@media (max-width:441px) {
    .KG-Details-PartLeft{
        margin-left: 10px;
        width: 305px;
    }
.KG-Details-PartRight{
    margin-left: 10px;
}
}
/* @media (max-width:410px) {
    .KG-Details-PartLeft{
        margin-left: 30px;
    }
.KG-Details-PartRight{
    margin-left: 30px;
}
} */