
.KG-Cards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 28%;
    background-color: var(--clr-bg);
    padding-top: 40px;
    padding-bottom: 20px;
}
.KG-Card-Book{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
   
}
.KG-Card-Title{
    width: max-content;
    font-size: 30px;
    font-weight: 600px;
    line-height: 30px;
    color: var(--clr-text);
    font-family: Metropolis-SemiBold;
}
.KG-Card-Info-Book{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    padding: 22px 56px 22px 25px;
    border-radius: 10px;
     width: 100%;
}
.KG-Card-Info-Book img{
    /* width: 100%; */
    width: 75px;
    height: 90px;
    border-radius: 5px;
    /* height: 90px; */
    margin-right: 15px;

}
.KG-Card-Info-Book .stars{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.KG-Star-color{
    color: var(--clr-stars) ;
    font-size: 16px;
}
.KG-Text-Pargraph{
    /* width: 100%; */
    font-family:Metropolis-Bold;
    font-weight: 600px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom:10px;
    margin-top: 10px;
    width: 228px;
}
.KG-Price{
    font-family:Metropolis-SemiBold ;
    font-weight: 600px;
    font-size: 18px;
    line-height: 20px;
    color: var(--clr-icon);
    margin-bottom: 0;
}
.KG-SeeMore{
    color: var(--clr-sicon);
    font-family:Inter !important;
    font-weight: 500px;
    font-size: 20px;
    line-height: 20px;
    width: max-content;
    cursor: pointer;
}



/* @media(max-width:1440px){

    .KG-Cards{
 
        width: 400px;
 
    }
    .KG-Card-Book{
  
        width: 400px;
    }
}
@media(min-width:1441px) and (max-width:1500px){
    .KG-Cards{
 
        width: 420px;
 
    }
    .KG-Card-Book{
  
        width: 420px;
    }
  }
@media(min-width:1501px) and (max-width:1600px){
    .KG-Cards{
 
        width: 477px;
 
    }
    .KG-Card-Book{
  
        width: 477px;
    }
  }
@media(min-width:1601px) and (max-width:1700px){
    .KG-Cards{
 
        width: 545px;
 
    }
    .KG-Card-Book{
  
        width: 545px;
    }
  }
@media(min-width:1701px) and (max-width:1800px){
    .KG-Cards{
 
        width: 630px;
 
    }
    .KG-Card-Book{
  
        width: 630px;
      
    }
    .KG-Card-Info-Book{
justify-content: space-evenly;
    }
  }
@media(min-width:1801px) and (max-width:1900px){
    .KG-Cards{
 
        width: 715px;
 
    }
    .KG-Card-Book{
  
        width: 715px;
    }
    .KG-Card-Info-Book{
        justify-content: space-evenly;
            }
  } */


@media(max-width:788px) and (min-width:567px){
.KG-Card-Info-Book{
    padding: 22px 20px 22px 25px !important;
}
.KG-Card-Title{
    font-size: 24px;
    line-height: 24px;
}
}
@media(max-width:566px){
    .KG-Card-Info-Book{
        padding: 10px  !important;
    }
    .KG-Card-Title{
        font-size: 24px;
        line-height: 24px;
    }
    .KG-Text-Pargraph{
        width: 210px;

    }

}