@font-face {
  font-family: "Inter";
  src: url(../../../public/Fonts/Inter-VariableFont_slnt\wght.ttf);
}

/* 1440 القياس */
.BKH-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  margin-top: 70px;
  padding: 0px 51px;
}

.BKH-image {
  width: 510px;
  height: 620px;
  border-radius: 15px;
}

.BKH-image img {
  width: 100%;
  height: 100%;

}



.BKH-text-all {

  width: 50%;

  font-family: "Metropolis";
  margin-left: 24px;
}

.BKH-part-one h1 {
  margin: 0;
  /* width: 285px; */
  /* height: 30px; */
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #0a033c;
}

.BKH-part-one p {
  margin-top: 20px;
  width: 100%;
  max-width: 607px;
  /* height: max-content; */
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #5d5a6f;
}

.BKH-part-two {
  width: 100%;
  /* height: max-content; */
  /* height: 60%; */
  font-family: "Inter", sans-serif;
}

.BKH-span {
  width: 342px;
  /* height: 31px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BKH-span-one {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #ff6652;
}

.BKH-span-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 191px;
  height: 1px;
  background-color: #ff6652;
}

.BKH-span-two {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #5d5a6f;
}

.BKH-span-two::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 151px;
  height: 1px;
  background-color: #5d5a6f;
}

.BKH-unordered-list {
  font-family: "Metropolis";
  margin-top: 20px;
  position: relative;
  right: 15px;
  margin-bottom: 5px;
}

.BKH-unordered li::marker {
  color: #ff6652;
  font-size: 20px;
}

.BKH-unordered li {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #0a033c;
}

/* .BKH-input-submit {
  position: relative;
  top: 15px;
} */

.BKH-input-submit .RA-INPUT {
  background-color: #9c4df4;
  color: white;
  font-size: 16px;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.BKH-input-submit .RA-INPUT:hover{
  background-color: transparent;
  color: #9c4df4;
  border: 1px solid #9c4df4;
  /* padding: 15px 30px; */
}

/* .BKH-input-submit .RA-INPUT:hover {
  background-color: transparent;
  border: 1px solid #9c4df4;
  color: #9c4df4;

} */

@media(max-width:1024px) {
  .BKH-section {
    padding: 0px 32px;
    flex-wrap: wrap;
    margin-top: 49px;
  }

}

@media(max-width:375px) {
  .BKH-section {
    padding: 0px 0px;
    margin-top: 30px;
  }

  .BKH-text-all {

    align-items: start;
  }

  .BKH-part-two {
    align-items: start !important;
  }

  .BKH-part-one h1 {
    text-align: left !important;
  }

  .BKH-part-one p {
    text-align: left !important;
  }
}

@media(max-width:1300px) {
  .BKH-image {
    width: 400px;
    height: 480px;

  }
}

@media(max-width:991px) {
  .BKH-section {

    justify-content: center;

  }

  .BKH-text-all {
    margin-top: 20px;
  }

  .BKH-text-all {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .BKH-part-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .BKH-part-one h1 {
    text-align: center;
  }

  .BKH-part-one p {
    text-align: center;
  }

}

@media(max-width:543px) {
  .BKH-image img {
    width: 400px;
    height: 480px;

  }
}

@media(max-width:468px) {
  .BKH-image img {
    width: 335px;
    height: 100%;

  }

  .BKH-image {
    width: 335px;
    height: 100%;

    /* height: 450px; */

  }
}

@media(max-width:372px) {
  .BKH-image img {
    width: 100%;
    height: 100%;

  }

}


@media (min-width: 320px) and (max-width: 576px) {






  .BKH-part-one h1 {


    font-size: 24px;
    font-weight: 600;

  }

  .BKH-part-one p {
    margin: 15px 0;


    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .BKH-part-two {
    width: 100%;

  }

  .BKH-span {
    width: 303px;
    height: 36px;
  }

  .BKH-span-one {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 167px;
    height: 1px;
  }

  .BKH-span-two {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .BKH-span-two::before {
    width: 138px;
    height: 1px;
  }

  .BKH-unordered-list {
    margin-top: 10px;
    position: relative;
    right: 15px;
  }

  .BKH-unordered li::marker {
    color: #ff6652;
    font-size: 20px;
  }

  .BKH-unordered li {
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
  }

  .BKH-input-submit {
    position: relative;
    top: 0px;
  }

  .BKH-input-submit input {

    font-weight: 500;
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 10px;
  }
}

/* @media (min-width: 576px) and (max-width: 767px) {








  .BKH-part-one h1 {
    width: 350px;
 
    font-size: 35px;
    font-weight: 800;
   
  }
  .BKH-part-one p {
    margin-top: 20px;
 
    max-width: 607px;
  
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #5d5a6f;
  }

  .BKH-part-two {
    width: 100%;

  }

  .BKH-span {
    width: 390px;
    height: 31px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .BKH-span-one {
    height: 31px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 215px;
    height: 1px;
  }

  .BKH-span-two {
    height: 31px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  .BKH-span-two::before {
    width: 175px;
    height: 1px;
  }

  .BKH-unordered-list {
    font-family: "Metropolis";
    margin-top: 15px;
    position: relative;
    right: 15px;
  }

  .BKH-unordered li::marker {
    color: #ff6652;
    font-size: 20px;
  }

  .BKH-unordered li {
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
  }

  .BKH-input-submit {
    position: relative;
    top: 0px;
  }

  .BKH-input-submit input {
 
    font-weight: 600;
    font-size: 18px;
    padding: 20px 35px;
    border-radius: 10px;
  }
} */
@media (max-width: 768px) {

  .BKH-part-one h1 {


    font-size: 16px;
    font-weight: 600;

  }

  .BKH-part-one p {
    margin-top: 14px;

    max-width: 400px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  .BKH-span {
    width: 250px;
    /* height: 31px; */
  }

  .BKH-span-one {
    font-size: 12px;
    line-height: 20px;
  }

  .BKH-span-two {
    font-size: 12px;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 145px;
    height: 1px;
  }

  .BKH-span-two::before {
    width: 105px;
    height: 1px;
  }

  .BKH-unordered-list {
    top: -15px;
    right: 15px;
  }

  .BKH-unordered li {
    margin-top: 5px;
    font-size: 12px;
    line-height: 25px;
  }

  .BKH-unordered li::marker {
    font-size: 15px;
  }

  .BKH-input-submit {
    top: -15px;
  }

  .BKH-input-submit input {

    font-size: 12px;
    padding: 12px 18px;
    border-radius: 3px;
  }
}

@media (min-width: 840px) and (max-width: 900px) {

  .BKH-part-one h1 {


    font-size: 20px;
    font-weight: 600;

  }

  .BKH-part-one p {
    margin-top: 14px;
    width: 100%;
    max-width: 431px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .BKH-span {
    margin-top: 15px;
    width: 290px;
    /* height: 31px; */
  }

  .BKH-span-one {
    font-size: 14px;
    line-height: 20px;
  }

  .BKH-span-two {
    font-size: 14px;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 165px;
    height: 1px;
  }

  .BKH-span-two::before {
    width: 125px;
    height: 1px;
  }

  .BKH-unordered-list {
    top: -10px;
    right: 15px;
  }

  .BKH-unordered li {
    margin-top: 5px;
    font-size: 14px;
    line-height: 25px;
  }

  .BKH-unordered li::marker {
    font-size: 15px;
  }

  /* .BKH-input-submit {
    top: 0px;
  }

  .BKH-input-submit input {

    font-size: 14px;
    padding: 15px 25px;
    border-radius: 5px;
  } */
}

@media (min-width: 901px) and (max-width: 1020px) {

  .BKH-part-one h1 {

    font-size: 20px;
    font-weight: 600;

  }

  .BKH-part-one p {
    margin-top: 14px;
    width: 100%;
    max-width: 431px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .BKH-span {
    margin: 19px 0;
    width: 342px;
    height: 31px;
  }

  .BKH-span-one {
    font-size: 16px;
    line-height: 20px;
  }

  .BKH-span-two {
    font-size: 16px;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 191px;
    height: 1px;
  }

  .BKH-span-two::before {
    width: 151px;
    height: 1px;
  }

  .BKH-unordered-list {
    top: 0;
    right: 15px;
  }

  .BKH-unordered li {
    margin-top: 9px;
    font-size: 16px;
    line-height: 29px;
  }

  .BKH-unordered li::marker {
    font-size: 20px;
  }

  .BKH-input-submit {
    top: 10px;
  }

  .BKH-input-submit input {
    line-height: 20px;
    font-size: 14px;
    padding: 17px 30px;
    border-radius: 5px;
  }
}

@media (min-width: 1020px) and (max-width: 1024px) {

  .BKH-part-one h1 {
    width: max-content;

    font-size: 20px;
    font-weight: 600;

  }

  .BKH-part-one p {
    margin-top: 14px;
    width: 100%;
    max-width: 431px;

    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .BKH-span {
    margin: 19px 0;
    width: 342px;
    height: 31px;
  }

  .BKH-span-one {
    font-size: 16px;
    line-height: 20px;
  }

  .BKH-span-two {
    font-size: 16px;
    line-height: 20px;
  }

  .BKH-span-one::before {
    width: 191px;
    height: 1px;
  }

  .BKH-span-two::before {
    width: 151px;
    height: 1px;
  }

  .BKH-unordered-list {
    top: 0;
    right: 15px;
  }

  .BKH-unordered li {
    margin-top: 9px;
    font-size: 16px;
    line-height: 29px;
  }

  .BKH-unordered li::marker {
    font-size: 20px;
  }

  .BKH-input-submit {
    top: 10px;
  }

  .BKH-input-submit input {

    font-size: 14px;
    padding: 17px 30px;
    border-radius: 5px;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {

  .BKH-part-one h1 {


    font-size: 30px;
    font-weight: 600;

  }

  .BKH-part-one p {
    width: 100%;
  }

  .BKH-part-one p {
    max-width: 500px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .BKH-span {
    width: 275px;
    height: 25px;
  }

  .BKH-span-one {
    font-size: 13px;
  }

  .BKH-span-two {
    font-size: 13px;
  }

  .BKH-span-one::before {
    width: 157px;
    height: 1px;
  }

  .BKH-span-two::before {
    width: 120px;
    height: 1px;
  }

  .BKH-unordered-list {
    right: 18px;
  }

  .BKH-unordered li {
    font-size: 14px;
    line-height: 20px;
  }

  .BKH-unordered li::marker {
    font-size: 15px;
  }

  .BKH-input-submit input {

    font-size: 12px;
    padding: 15px 25px;
    border-radius: 5px;
  }

}

@media (min-width: 1441px) and (max-width: 1600px) {

  .BKH-part-one h1 {
    width: max-content;

    font-size: 45px;
    font-weight: 700;

  }

  .BKH-part-one p {
    width: 100%;
  }

  .BKH-part-one p {
    max-width: 650px;

    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
  }

  .BKH-span {
    width: 450px;
    height: 35px;
  }

  .BKH-span-one {
    font-size: 20px;
  }

  .BKH-span-two {
    font-size: 20px;
  }

  .BKH-span-one::before {
    width: 240px;
    height: 3px;
  }

  .BKH-span-two::before {
    width: 210px;
    height: 3px;
  }

  .BKH-unordered li {
    font-size: 20px;
    line-height: 35px;
  }

  .BKH-unordered li::marker {
    font-size: 20px;
  }

  .BKH-input-submit input {

    font-size: 20px;
    padding: 17px 30px;
    border-radius: 10px;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {

  .BKH-part-one h1 {
    width: max-content;

    font-size: 55px;
    font-weight: 800;

  }

  .BKH-part-one p {
    width: 100%;
  }

  .BKH-part-one p {
    max-width: 850px;

    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
  }

  .BKH-span {
    width: 500px;
    height: 40px;
  }

  .BKH-span-one {
    font-size: 22px;
  }

  .BKH-span-two {
    font-size: 22px;
  }

  .BKH-span-one::before {
    width: 265px;
    height: 3px;
  }

  .BKH-span-two::before {
    width: 235px;
    height: 3px;
  }

  .BKH-unordered li {
    font-size: 22px;
    line-height: 40px;
  }

  .BKH-unordered li::marker {
    font-size: 25px;
  }

  .BKH-input-submit input {
    line-height: 34px;
    font-size: 22px;
    padding: 20px 40px;
    border-radius: 5px;
  }
}

@media(max-width:1920px) {
  .BKH-section {
    padding: 0px 135px;
  }
}

@media(max-width:1440px) {
  .BKH-section {
    padding: 0px 55px;
  }
}

@media(max-width:1024px) {
  .BKH-section {
    padding: 0px 32px;
  }
}

@media(max-width:576px) {
  .BKH-section {
    padding: 0px 20px !important;
  }
}

@media(max-width:375px) {
  .BKH-section {
    padding: 0px 0px;
  }


}