.KG-Course-Teacher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.KG-Courses-Title {
    font-family: Metropolis-Bold;
    font-weight: 600px;
    font-size: 30px;
    line-height: 30px;
    width: max-content;
}

.KG-Part-Left {
    width: 620px;
}
.RA-Part-Left {
    width: 620px;
}

.KG-Part-Right {
    width: 620px;
}
.RA-Part-Right {
    width: 620px;
}

.KG-Course-Part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.RA-Course-Part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
/*  */
.RA-Course-Part:nth-child(2) {
    display: none ;

}
.RA-Course-Part:nth-child(4) {
    display: none ;

}

.RA-Course-Part:nth-child(3) {
    display: none ;

}



.KG-Course-Info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    background-color: var(--clr-primary);
    padding-right: 170px;
    border-radius: 10px;
}

.KG-Course-Info img {
    margin-right: 15px;
    width: 160px;
    border-radius: 10px;
    margin: 15px;
}

.KG-Course-Text {
    font-family: Metropolis-Bold;
    font-weight: 600px;
    font-size: 24px;
    line-height: 20px;
    width: max-content;
}

.KG-Star {
    color: var(--clr-stars);
    font-size: 20px;
    margin-bottom: 15px;
}

.KG-Course-Price {
    font-family: Metropolis-SemiBold;
    font-weight: 600px;
    font-size: 24px;
    line-height: 20px;
    color: var(--clr-icon);
}

.KG-BG-Icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 44px;
    height: 44px;
    background-color: var(--clr-bglive);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.KG-Bag-Icon {
    color: var(--clr-sicon);
    font-size: 16px;
}

.KG-BG-Icon:hover {
    transition: 0.5s;
    background-color: var(--clr-sicon);
}

.KG-BG-Icon:hover .KG-Bag-Icon {
    color: var(--clr-bglive);
}


@media (max-width:1415px) {

    .KG-Part-Left {
        width: 500px;
    }
    .RA-Part-Left {
        width: 500px;
    }

    .KG-Part-Right {
        width: 500px;
    }
    .RA-Part-Right {
        width: 500px;
    }
}

@media(min-width:1201px) and (max-width:1260px) {

    .KG-Course-Text {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width:1180px) {

    .KG-Part-Left {
        width: 420px;
    }
    .RA-Part-Left {
        width: 420px;
    }

    .KG-Part-Right {
        width: 420px;
    }

    .RA-Part-Right {
        width: 420px;
    }

}

@media (max-width:1100px) {

    .KG-Part-Left {
        width: 430px;
    }
    .RA-Part-Left {
        width: 430px;
    }

    .KG-Part-Right {
        width: 430px;
    }
    .RA-Part-Right {
        width: 430px;
    }
}

@media (max-width:1024px) {

    .KG-Part-Left {
        width: 450px;
    }
    .RA-Part-Left {
        width: 450px;
    }

    .KG-Part-Right {
        width: 450px;
    }
    .RA-Part-Right {
        width: 450px;
    }
}


@media(min-width:992px) and (max-width:1200px) {

    .KG-Course-Part:nth-child(5) {
        display: none !important;
    }

    .KG-Course-Text {
        font-size: 16px;
        line-height: 16px;
    }

    .KG-Course-Info img {
        width: 140px;
    }
}

@media(min-width:789px) and (max-width:991px) {

    .KG-Part-Left {
        width: 470px;
    }
    .RA-Part-Left {
        width: 470px;
    }

    .KG-Part-Right {
        width: 470px;
    }
    .RA-Part-Right {
        width: 470px;
    }

    .KG-Course-Part:nth-child(5) {
        display: none !important;
    }

    .KG-Course-Part:nth-child(4) {
        display: none !important;
    }

    .RA-Course-Part:nth-child(4) {
        display: block !important ;
    
    }
    .RA-Part-Right:nth-child(2) {
        display: none !important ;
    
    }

    #KG-HiddenPart {
        display: none;
    }

    .KG-Course-Text {
        font-size: 16px;
        line-height: 16px;
    }

    .KG-Courses-Title {
        font-size: 20px;
        line-height: 20px;
        text-align: center !important;
    }

    .KG-Course-Info img {
        width: 140px;
    }

    .KG-Course-Form {
        justify-content: center !important;
    }

    .KG-Course-Teacher {
        justify-content: center !important;
    }

}

@media(max-width:788px) and (min-width:567px) {
    .KG-Part-Left {
        width: 470px;
    }
    .RA-Part-Left {
        width: 470px;
    }

    .KG-Part-Right {
        width: 470px;
    }
    .RA-Part-Right {
        width: 470px;
    }

    .KG-Course-Part:nth-child(5) {
        display: none !important;
    }

    .KG-Course-Part:nth-child(4) {
        display: none !important;
    }

    #KG-HiddenPart {
        display: none;
    }

    .KG-Course-Text {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 7px;
    }

    .KG-Courses-Title {
        font-size: 19px;
        line-height: 19px;
    }

    .KG-Course-Info img {
        width: 110px;
    }

    .KG-Star {
        margin-bottom: 10px;
    }

    .KG-Course-Form {
        justify-content: center !important;
    }

    .KG-Course-Teacher {
        justify-content: center !important;
    }
    /* .RA-Part-Left:nth-child(4) {
        display: block !important ;
    
    } */
    .RA-Course-Part:nth-child(4) {
        display: block !important ;
    
    }
    .RA-Part-Right:nth-child(2) {
        display: none !important ;
    
    }

}

@media(max-width:566px) {
    .KG-Part-Left {
        width: 355px;
    }
    .RA-Part-Left {
        width: 355px;
    }

    .KG-Part-Right {
        width: 355px;
    }
    .RA-Part-Right {
        width: 355px;
    }

    .KG-Course-Part:nth-child(5) {
        display: none !important;
    }

    .KG-Course-Part:nth-child(4) {
        display: none !important;
    }

    #KG-HiddenPart {
        display: none;
    }

    .KG-Course-Text {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 7px;
    }

    .KG-Courses-Title {
        font-size: 19px;
        line-height: 19px;
    }

    .KG-Course-Info img {
        width: 110px;
    }

    .KG-Star {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .KG-Course-Price {
        font-size: 18px;
        line-height: 18px;
    }

    .KG-Course-Search-Select {
        width: 355px;
    }

    .KG-Course-Form .KG-Course-input {
        width: 355px !important;
    }

    .KG-Course-Form {
        justify-content: center !important;
    }

    .KG-Course-Teacher {
        justify-content: center !important;
    }

    .KG-Course-Form {
        width: 355px;
    }
    .RA-Course-Part:nth-child(4) {
        display: block !important ;
    
    }
    .RA-Part-Right:nth-child(2) {
        display: none !important ;
    
    }
}

@media (max-width:400px) {
    .RA-section2-courses {

        align-items: start !important;

    }

    .KG-Course-Form {
        justify-content: space-between !important;
    }

    .KG-Course-Teacher {
        justify-content: space-between !important;
    }

    .KG-Course-Form {
        justify-content: space-between !important;
    }

    .KG-Part-Left {
        width: 330px !important;
    }
    .RA-Part-Left {
        width: 330px !important;
    }

    .KG-Course-Form {
        width: 330px !important;
    }
    .RA-Course-Form {
        width: 330px !important;
    }

}