*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.KG-Navbar{
    font-family:Metropolis-SemiBold !important;
    background-color: #ECECEC ;
    color: #0A033C ;
    width: 100%;
    height: 90px;
    position: fixed !important;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 0px 80px;
}
.KG-Links .nav-link{
    color: #0A033C !important;
    font-weight: 500px !important;
    padding-left: 40px !important;

}
.show-registering{
    display: none;
}
.KG-Links .nav-link:hover{
    transition: 0.5s !important;
    color: #9C4DF4 !important;

}
.KG-Sign-inUp .nav-link{
    color: #0A033C !important;
    font-size:16px;
}
.KG-Sign-inUp .nav-link:hover{
    color:#9C4DF4 !important;
    
}
.KG-Sign-inUp .nav-link .KG-SignInUpIcon{
    color: #9C4DF4;
    margin-left: 10px;
    font-size: 19px;
}
.KG-Sign-inUp-hidden{
   display: none !important;
}
.KG-Sign-inUp-hidden .nav-link{
    color: #0A033C !important;
}
.dropdown-toggle{
    transition: 0.5s !important;
}
.KG-Sign-inUp-hidden .nav-link .KG-SignInUpIcon{
    color: #9C4DF4;
    margin-left: 10px;
    transition: 0.5s !important;
}
.KG-Links .dropdown-menu{
    background-color: #ECECEC !important;
    transition: 0.5s;
    animation: .5s KGmove;
}
.KG-Links .dropdown-item{
    width: max-content;
    margin: auto !important;

}
.KG-Links .dropdown-item:hover{
    color: #9C4DF4 !important;
    border-radius: 10px !important;
}
.color-icon{
    color: #9C4DF4 !important;
}






@media(max-width:1024px){
    .KG-Navbar{
       
        padding: 0px 80px !important;
    }

}
@media(max-width:1024px){
    .KG-Navbar{
       
        padding: 0px 40px !important;
    }

}
@media(min-width:992px) and (max-width:1200px){
    .KG-Navbar{
       
        padding: 0px 80px;
    }
    .show-registering{
        display: block;
    }
    .KG-Sign-inUp{
        display: none;
    }
   
   
    .KG-Links{
        justify-content: center;
        align-items: center ;
        width: 100% !important;
        left: 0 !important;
        margin: 0 !important;


       
        
    }
    .KG-Links .nav-link{
        padding-left: 15px !important;
    }
    .KG-Sign-inUp {
       width: 210px;
      
    }
    .KG-Sign-inUp .nav-link{
       padding-right: 0;
    }
}
@media(min-width:600px) and (max-width:991px){
    .KG-Sign-inUp{
        margin-left:0;
        flex-direction: row !important;
    }
    .KG-Links{
        background-color:  #ECECEC ;
       padding: 0 ;
    }
    .KG-Links .nav-link{
        width: max-content;
        margin: 15px auto;
        padding: 0 !important;
    }
    .navbar-toggler{
        border: none !important;
    }
    .navbar-toggler:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    .KG-Navbar{
       
        padding: 0px 40px;
    }
    .navbar-collapse.collapse{
        position: absolute !important;
        width: 100% !important;
        left: 0 !important;
        margin: 0 !important;
        top:90px;
    }
}
@media(min-width:320px) and (max-width:599px){
    .KG-Sign-inUp .nav-link{
        display: none !important;
    }
    .KG-Sign-inUp-hidden{
        display: block !important;
    }
    .KG-Links{
        background-color:  #ECECEC ;
    }
    .KG-Links .nav-link{
        width: max-content !important;
        margin: 15px auto;
        padding: 8px 0 !important;
    }
    .KG-Links .nav-item .dropdown-menu{
        transition: 0.5s !important;
    }
    .navbar-toggler{
        border: none !important;
        transition: 0.5s !important;
    }
    .navbar-toggler:focus{
        outline: none !important;
        box-shadow: none !important;
    }

    .KG-Links{
        justify-content: center;
        position: absolute !important;
        width: 100% !important;
        left: 0 !important;
        margin: 0 !important;


       
        
    }
}
@media (max-width:600px){


    .KG-Navbar{
       
        padding: 0px 40px;
    }

}
@media (max-width:375px){


    .KG-Navbar{
       
        padding: 0px 20px !important;
    }

} 


@keyframes KGmove {
    from{
        transform: translateY(30%)
    }
    to{
        transform: translateY(0%);
    }
}