*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.RA-section-similar{
    margin-top: 80px;
    /* margin-bottom: 120px ; */
}

.RA-similar{
    font-weight: 700;
    font-size: 45px ;
    font-family: Metropolis-Bold;
    color: rgba(10, 3, 60, 1);
   
}
.RA-SeeMore{
    font-weight: 500;
    font-size: 16px;
    color: rgba(156, 77, 244, 1);
    font-family:Inter;
    margin-top: 28px;
    display: none;
}
@media(max-width:1024px){
    .RA-similar{
        font-size: 30px ;
        font-weight: 600;
    }
}
@media(max-width:991px){
    .RA-similar{
      text-align: center;
    }
}
@media(max-width:400px){
    .RA-similar{
      text-align: left;
    }
    .RA-section-similar{
    margin-top: 50px;
    
}

}
@media(max-width:375px){
    .RA-similar{
        font-size: 24px ;
    }
    .RA-SeeMore{

        display: block;
    }

}
