
@font-face {
  font-family: Metropolis;
  src: url(/../public/Fonts/Inter-VariableFont_slnt\,wght.ttf);
}



.BKH-section-6 {
  width: 100%;
  height: 420px;
  background-color: #0a033c;
  border-radius: 20px;
  padding: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
}

.BKH-section-join {
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: space-between;
}

.BKH-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Metropolis";
}
.BKH-text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  width: 576px;
  height: 110px;
}

.BKH-text-main h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin:0;
  color: #ffffff;
}

.BKH-text-sub {
  padding: 0px 0;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  bottom: 40px;
  color: rgba(181, 179, 196, 0.7);
}

.BKH-joining {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 539px;
  position: relative;
  bottom: 7px;
}

.BKH-input-1 {
  width: 367px;
  height: 60px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(59, 53, 99);
  border: none;
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
  transition: box-shadow 0.3s ease ease;
}

.BKH-input-1:focus {
  outline: none;
  transform: scale(0.99);
  box-shadow: 0 0 -5px -10px rgba(156, 77, 244, 0.7);
}
.BKH-input-2 {
  width: 142px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(156, 77, 244);
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  border: 0px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.BKH-input-2:hover {
  background-color: rgb(116, 37, 204); 
  transform: scale(0.99);
}
.BKH-input-2:focus {
  outline: none;
  border: none;
}

.BKH-images-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.img1-part-1 {
  position: absolute;
  top: 0px;
}

.img2-part-1 {
  position: absolute;
  top: 105px;
  left: 127px;
}

.img3-part-1 {
  position: absolute;
  bottom: 0px;
  left: 30px;
}

.img1-part-2 {
  position: absolute;
  right: 30px;
  top: 0px;
}

.img2-part-2 {
  position: absolute;
  top: 129px;
  right: 127px;
}

.img3-part-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .BKH-section-6 {
    padding: 0px 30px 0px 30px;
    height: 378px;
  }

  .BKH-section-join {
    max-height: 250px;
  }

  .BKH-text-main {
    width: 100%;
    max-width: 448px;
    height: 80px;

    margin-bottom: 50px;
  }

  .BKH-text-main h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .BKH-text-sub {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    padding: 0px;
    position: relative;
    bottom: 28px;
  }

  .BKH-joining {
    padding: 0px;
    position: relative;
    top: 4px;
  }

  .BKH-input-1 {
    width: 327px;
    height: 50px;
    line-height: 30px;
    padding-left:  15px;
    border-radius: 5px 0 0 5px;
  }

  .BKH-input-2 {
    width: 127px;
    height: 50px;
    border-radius: 0 5px 5px 0;
  }

  .BKH-images-1 {
    width: 0px;
  }

  .BKH-images-1 img {
    width: 40px;
  }

  .img1-part-1 {
    position: absolute;
    top: 30px;
  }

  .img2-part-2 {
    position: absolute;
    top: 79px;
    right: 127px;
  }

  .img3-part-2 {
    position: absolute;
    bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .BKH-section-6 {
    padding: 0px 20px;
    height: 550px;
  }

  .BKH-section-join {
    height: 427px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .BKH-text-main {
    width: 675px;
    height: 140px;
    position: relative;
    bottom: 11px;
  }

  .BKH-text-main h1 {
    font-size: 50px;
    line-height: 80px;
  }

  .BKH-text-sub {
    width: 100%;
    line-height: 40px;
    font-size: 22px;
    padding: 0px;
    position: relative;
    bottom: 40px;
  }

  .BKH-joining {
    padding-top: 0px;
  }

  .BKH-input-1 {
    width: 475px;
    height: 65px;
    border-radius: 10px;
    font-size: 20px;
  }

  .BKH-input-2 {
    width: 475px;
    height: 65px;
    position: relative;
    font-size: 25px;
    top: 20px;
    border-radius: 10px;
  }

  .BKH-images-1 {
    display: none;
  }
}

@media (min-width: 530px) and (max-width: 767px) {
  .BKH-section-6 {
    padding: 0 20px;
    height: 500px;
  }

  .BKH-section-join {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .BKH-text-main {
    width: 100%;
    height: 80px;
    position: relative;
    top: 0px;
  }

  .BKH-text-main h1 {
    font-size: 45px;
    line-height: 50px;
  }

  .BKH-text-sub {
    font-size: 150%;
    position: relative;
    bottom: 10px;

  }

  .BKH-joining {
    padding-top:20px;
  }

  .BKH-input-1 {
    width: 350px;
    height: 65px;
    font-size: 18px;
    border-radius: 5px;
  }

  .BKH-input-2 {
    width: 350px;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    border-radius:5px;
    position: relative;
    top: 20px;
  }

  .BKH-images-1 {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 529px) {
  .BKH-section-6 {
    padding: 0 20px;
    height: 389px;
  }

  .BKH-section-join {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 10px;
  }

  .BKH-text-main {
    width: 295px;
    height: 96px;
    position: relative;
    top: 13px;
  }

  .BKH-text-main h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .BKH-text-sub {
    width: 295px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24PX;
    padding: 0px;
    position: relative;
    bottom: 33px;
  }

  .BKH-joining {
    position: relative;
    bottom: 12px;
  }

  .BKH-input-1 {
    width: 275px;
    height:50px;
    font-size: 14px;
    border-radius: 5px;
  }

  .BKH-input-2 {
    width: 275px;
    height: 50px;
    font-size: 14px;
    position: relative;
    top:20px;
    border-radius:5px ;
  }

  .BKH-images-1 {
    display: none;
  }
}

@media (max-width:359px) {
  .BKH-section-6{
    display:none;
  }
}

@keyframes move-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes move-down-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.img1-part-1, .img3-part-2 {
  animation: move-up-down 2s infinite;
}

.img2-part-1, .img2-part-2 {
  animation: move-down-up 2s infinite;
}

.img3-part-1, .img1-part-2 {
  animation: move-up-down 2s infinite;
}
