@font-face {
    font-family:Inter;
    src: url(./Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family:Metropolis-Black;
    src: url(./Fonts/Metropolis-Black.otf);


}
@font-face {
    font-family:Metropolis-BlackItalic;
    src: url(./Fonts/Metropolis-BlackItalic.otf);


}
@font-face {
    font-family:Metropolis-Thin;
    src: url(./Fonts/Metropolis-Thin.otf);
}
@font-face {
    font-family:Metropolis-ThinItalic;
    src: url(./Fonts/Metropolis-ThinItalic.otf);
}
@font-face {
    font-family:Metropolis-SemiBoldItalic;
    src: url(./Fonts/Metropolis-SemiBoldItalic.otf);
}
@font-face {
    font-family:Metropolis-SemiBold;
    src: url(./Fonts/Metropolis-SemiBold.otf);
}
@font-face {
    font-family:Metropolis-RegularItalic;
    src: url(./Fonts/Metropolis-RegularItalic.otf);
}
@font-face {
    font-family:Metropolis-Regular;
    src: url(./Fonts/Metropolis-Regular.otf);
}
@font-face {
    font-family:Metropolis-MediumItalic;
    src: url(./Fonts/Metropolis-MediumItalic.otf);
}
@font-face {
    font-family:Metropolis-Medium;
    src: url(./Fonts/Metropolis-Medium.otf);
}
@font-face {
    font-family:Metropolis-LightItalic;
    src: url(./Fonts/Metropolis-LightItalic.otf);
}
@font-face {
    font-family:Metropolis-Light;
    src: url(./Fonts/Metropolis-Light.otf);
}
@font-face {
    font-family:Metropolis-ExtraLightItalic;
    src: url(./Fonts/Metropolis-ExtraLightItalic.otf);
}
@font-face {
    font-family:Metropolis-ExtraLight;
    src: url(./Fonts/Metropolis-ExtraLight.otf);
 
}
@font-face {
    font-family:ExtraBoldItalic;
    src: url(./Fonts/Metropolis-ExtraBoldItalic.otf);
 
}
@font-face {
    font-family:Metropolis-ExtraBold;
    src: url(./Fonts/Metropolis-ExtraBold.otf);
 
}
@font-face {
    font-family:Metropolis-BoldItalic;
    src: url(./Fonts/Metropolis-BoldItalic.otf);
 
}
@font-face {
    font-family:Metropolis-Bold;
    src: url(./Fonts/Metropolis-Bold.otf);
 
}






