/* #RA-LogInPopup {
  display: flex;
  width: 100%;
  align-items:center;
  justify-content:center;
}
#RA-LogInPopup1 {
  display: none;

} */
.RA-LogInPopup1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color:rgb(50 29 75 / 50%);
  height: 100vh;

}

.RA-LogInPopup2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(50 29 75 / 50%);
  height: 100vh;

}

.RA-logologin {
  margin-bottom: 15px;
  width: 80px;
  height: 20px;
  object-fit: cover;
}

.RA-parent-LogInPopup {
  background-color: var(--clr-primary);
  background-color: var(--clr-primary);
  background-color: var(--clr-primary);
  width: 100%;
  height: 652px;
  border-radius: 15px;
  /* margin-top: 140px; */
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  justify-content: space-evenly;
  padding: 105px 79px 104px 80px;
  align-items: center;
  position: relative;
  transition: 0.5;

}

/*  */
.RA-parent-LogInPopup1 {
  background-color: var(--clr-primary);
  width: 100%;
  height: 650px;
  border-radius: 15px;
  /* margin-top: 140px; */
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  justify-content: space-evenly;
  padding: 105px 79px 104px 80px;
  align-items: center;
  position: relative;
  /* transition: 0.5; */
}

/*  */
.RA-parent-LogInPopup1 {
  display: none;

}

.RA-parent1-LogInPopup {
  background-color: var(--clr-primary);
  width: 100%;
  height: 652px;
  border-radius: 15px;
  /* margin-top: 140px; */
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  justify-content: space-evenly;
  padding: 105px 79px 104px 80px;
  align-items: center;
  position: relative;
  /* transition: 0.5; */

}

.RA-parent1-LogInPopup1 {
  background-color: burlywood;
  width: 100%;
  height: 750px;
  border-radius: 15px;
  margin-top: 140px;
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  justify-content: space-evenly;
  padding: 105px 79px 104px 80px;
  align-items: center;
  position: relative;

}

/*  */
.RA-parent1-LogInPopup1 {
  display: none;

}

.RA-titel-login {
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  text-align: left;
  font-family: Metropolis-Bold;
  line-height: 50px;
  color: var(--clr-text);
}

.RA-part1-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 400px;
  position: relative;
}

.RA-part1-login::after {
  position: absolute;
  content: "";
  background: linear-gradient(0, rgba(10, 3, 60, 0), rgba(10, 3, 60, 1), rgba(10, 3, 60, 0));
  width: 1px;
  height: 641px;
  right: calc(100% - 460px);

}

.RA-slider {
  width: 32%;
  margin-top: 30px;
  padding-right: 110px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100% !important;
  top: 826px;
  left: 438px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid rgba(255, 102, 82, 1);
  transition: 0.5s;
}

.carousel-indicators [data-bs-target]:hover {
  background-color: rgba(255, 102, 82, 0.5);

}

.carousel-indicators {
  width: max-content;
  bottom: -53px;
  left: 74px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.carousel-inner {
  width: 74%;
}

.RA-GOOGLE-ICON {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: var(--clr-googleicon);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  left: 7px;
  top: 5px;
}

.ra-CONTANAIR {
  display: flex;
  position: relative;
}

.RA-gool {
  width: 340px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(222, 221, 228, 1);
}

.RA-gool::placeholder {
  font-family: Metropolis-ExtraLight;
  font-weight: 400;
  font-size: 16px;
  padding-left: 65px;
}

.RA-login-form .RA-signin {
  font-family: Metropolis-ExtraLight;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 269px;
  color: rgba(93, 90, 111, 1);
  position: relative;
  margin-top: 20px;
}

.RA-signin::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: rgb(18, 0, 119);
  top: 11px;
    right: 0px;
}

.RA-signin::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: rgb(18, 0, 119);
  top: 11px;
    left: 0px;
}

.RA-login-form {
  display: flex;
  align-items: center;
  justify-content: center !important;

  flex-direction: column;
  width: max-content;
  padding-top: 105px;
}

.RA-JOIN {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 340px;
  position: relative;
  margin-bottom: 15px;
}

.RA-JOIN1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 340px;
  position: relative;
  margin-bottom: 25px;
}

.RA-email-input {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(222, 221, 228, 1);
  border-radius: 10px;

}

.RA-exit-icon {
  color: #c2c2c2;
  font-Size: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.RA-email-input::placeholder {
  font-weight: 400;
  font-family: Metropolis-ExtraLight;
  font-size: 16px;
  padding-left: 51px;
}

.RA-letter {
  position: absolute;
  z-index: 1;
  left: 18px;
  top: 47px;
  font-size: 18px;
}

.RA-lock {
  position: absolute;
  z-index: 1;
  left: 18px;
  top: 45px;
  font-size: 18px;
}

.RA-eye {
  position: absolute;
  z-index: 1;
  right: 18px;
  top: 45px;
  font-size: 18px;
}

label {
  font-size: 16px;
  font-weight: 500;
  font-family: Metropolis-Medium;
  line-height: 30px;
}

.RA-button-form {
  background-color: #9c4df4;
  color: white;
  font-family: Metropolis-ExtraLight;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.RA-button-form:hover {
  background-color: transparent;
  color: #9c4df4;
  cursor: pointer;
  border: 1px solid #9c4df4;
}

.RA-check-password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.RA-KEEP {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* .RA-KEEP{
  margin-bottom: 10px;
} */
.RA-KEEP .RA-PARAGHRAPH {
  margin-left: 10px;
  margin-bottom: 0;
}

.ra-FORGER {
  margin-bottom: 0;
}

.ra-FORGER:hover {
  cursor: pointer;
}

@media (max-width: 1700px) {
  .RA-part1-login::after {

    right: calc(100% - 440px);

  }
}

@media (max-width: 1600px) {
  .RA-part1-login::after {

    right: calc(100% - 430px);

  }
}

@media (max-width: 1615px) {
  .RA-part1-login::after {

    right: calc(100% - 416px);

  }
}

@media (max-width: 1500px) {
  .RA-part1-login::after {

    right: calc(100% - 425px);

  }

  .RA-parent-LogInPopup {

    justify-content: space-between;

  }

  .RA-parent1-LogInPopup {

    justify-content: space-between;

  }
}

@media (max-width: 1400px) {
  .RA-part1-login::after {

    right: calc(100% - 400px);

  }

}

@media (max-width: 1360px) {
  .RA-gool {
    width: 300px;
  }

  .RA-email-input {
    width: 300px;
  }

  .RA-button-form {
    width: 300px;
  }

  .RA-JOIN1 {
    width: 300px;
  }

  .RA-JOIN {
    width: 300px;
  }

  .RA-login-form {
    width: 300px;

    /* padding: 23px 0 23px 60px; */
  }

  .RA-part1-login::after {

    right: calc(100% - 400px);

  }

  .RA-PARAGHRAPH {
    font-size: 13px;
  }

  .ra-FORGER {
    font-size: 13px;
  }

  .RA-titel-login {
    width: 355px;
    font-size: 35px;
  }

  .RA-check-password {
    width: 100%;
  }

  .RA-KEEP .RA-PARAGHRAPH {
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  .RA-gool {
    width: 250px;
  }

  .RA-email-input {
    width: 250px;
  }

  .RA-button-form {
    width: 250px;
  }

  .RA-check-password {
    width: 100%;
  }

  .RA-JOIN1 {
    width: 250px;
  }

  .RA-JOIN {
    width: 250px;
  }

  .RA-login-form {
    width: 300px;

    /* padding: 23px 0 23px 60px; */
  }

  .RA-titel-login {
    width: 350px;
    font-size: 30px;
  }

  .RA-check-password {
    width: 100%;
  }

  .RA-gool::placeholder {

    font-size: 14px;

  }

  .RA-email-input::placeholder {

    font-size: 14px;

  }

  .RA-part1-login::after {

    right: calc(100% - 370px);

  }
}

@media (max-width: 992px) {
  .RA-gool {
    width: 250px;
  }

  .RA-email-input {
    width: 250px;
  }

  .RA-button-form {
    width: 250px;
    /* display: contents; */
  }

  .RA-check-password {
    width: 100% !important;
  }

  .RA-JOIN1 {
    width: 250px;
  }

  .RA-JOIN {
    width: 250px;
  }

  .RA-login-form {
    width: 280px;
  }

  .RA-titel-login {
    width: 350px;
    font-size: 30px;
  }

  .RA-gool::placeholder {
    font-weight: 500;
    font-size: 14px;
    padding-left: 55px;
  }

  .RA-email-input::placeholder {
    font-weight: 500;

    font-size: 14px;
    padding-left: 51px;
  }
}

@media (max-width: 840px) {
  .RA-part1-login {
    display: none;
  }

  .RA-parent-LogInPopup {
    display: flex;
    justify-content: center;

  }

  .RA-parent-LogInPopup {

    height: 530px;


  }

  .RA-check-password {
    width: 100%;
    flex-direction: column;
  }

  .RA-parent-LogInPopup {
    display: flex;
    justify-content: center;

  }

  .RA-parent1-LogInPopup {
    display: flex;
    justify-content: center;

  }

  .ra-CONTANAIR {
    width: 100%;
  }

  .RA-gool {
    width: 100%;
  }

  .RA-email-input {
    width: 100%;
  }

  .RA-button-form {
    width: 100%;
  }

  .RA-KEEP {
    margin-bottom: 10px;
  }

  .RA-PARAGHRAPH {
    margin-bottom: 5px;
  }

  .RA-JOIN1 {
    width: 100%;
  }

  .RA-JOIN {
    width: 100%;
  }

  .RA-login-form {
    width: 100%;

  }

  .RA-gool::placeholder {
    font-weight: 600;
    font-size: 14px;
    padding-left: 55px;
  }

  .RA-email-input::placeholder {
    font-weight: 600;

    font-size: 14px;
    padding-left: 51px;
  }

  .RA-parent1-LogInPopup {

    height: 635px;


  }

  .RA-exit-icon {
    top: 17px !important;
    right: 20px !important;
  }
}

@media (max-width: 800px) {
  .RA-titel-login {
    width: 300px;
    font-size: 26px;
  }

  .RA-gool::placeholder {
    font-weight: 600;
    font-size: 12px;
    padding-left: 55px;
  }

  .RA-email-input::placeholder {
    font-weight: 600;
    font-size: 12px;
    padding-left: 51px;
  }
}

@media (min-width: 760px) and (max-width: 870px) {
  .RA-gool::placeholder {
    font-weight: 600;
    font-size: 12px;
    padding-left: 55px;
  }

  .RA-email-input::placeholder {
    font-weight: 600;

    font-size: 12px;
    padding-left: 51px;
  }
}

@media (max-width: 768px) {

  /* .RA-part1-login {
    display: none;
  } */
  .RA-parent-LogInPopup {
    display: flex;
    justify-content: center;

  }

  .RA-parent1-LogInPopup {
    display: flex;
    justify-content: center;

  }

  .ra-CONTANAIR {
    width: 100%;
  }

  .RA-gool {
    width: 100%;
  }

  .RA-email-input {
    width: 100%;
  }

  .RA-button-form {
    width: 100%;
  }

  .RA-KEEP {
    margin-bottom: 10px;
  }

  .RA-PARAGHRAPH {
    margin-bottom: 5px;
  }

  .RA-JOIN1 {
    width: 100%;
  }

  .RA-JOIN {
    width: 100%;
  }

  .RA-login-form {
    width: 100%;

  }

  .RA-gool::placeholder {
    font-weight: 600;
    font-size: 14px;
    padding-left: 55px;
  }

  .RA-email-input::placeholder {
    font-weight: 600;

    font-size: 14px;
    padding-left: 51px;
  }

}

@media (max-width: 450px) {
  .RA-parent-LogInPopup {
    width: 90%;
  }

  .RA-parent1-LogInPopup {
    width: 90%;
  }

  .RA-check-password {
    align-items: flex-start;
  }

}

@media (min-width: 350px) and (max-width: 567px) {
  .RA-part1-login {
    display: none;
  }

  .RA-parent-LogInPopup {
    display: flex;
  }

  .RA-parent1-LogInPopup {
    display: flex;
  }

  .ra-CONTANAIR {
    width: 100%;

  }



  .RA-button-form:hover {

    background-color: transparent;
    color: #9C4DF4;
    cursor: pointer;
    border: 1px solid #9C4DF4;


    .RA-gool {
      width: 100%;
    }

    .RA-email-input {
      width: 100% !important;
    }

    .RA-button-form {
      width: 100% !important;
    }

    .RA-PARAGHRAPH {
      margin-bottom: 5px;
    }

    .RA-check-password {
      width: 100%;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }

    .RA-JOIN1 {
      width: 100% !important;
    }

    .RA-JOIN {
      width: 100% !important;
    }

    .RA-login-form {
      width: 70% !important;
      display: contents;
    }

    .RA-email-input::placeholder {
      font-weight: 600;

      font-size: 14px !important;
      padding-left: 51px;
    }

    .RA-gool::placeholder {
      font-weight: 600;
      font-size: 14px !important;
      padding-left: 65px;
    }
  }
}