.main{
    background-color: var(--clr-bg);
}

@media(max-width:1440px){
    .main{
    padding: 0px 80px;
}
}
@media(max-width:1024px){
    .main{
    padding: 0px 40px;
}
}
@media(max-width:375px){
    .main{
    padding: 0px 20px;
}
}
.section2{
   margin-bottom: 130px;
   margin-top:70px ;
}
/* القسم الي مشتغلو بشار هاد البادينك للريسبونسيف  */
@media(max-width:1920px){
    .section2{
        padding: 0px 135px;
}
}

@media(max-width:1440px){
    .section2{
    padding: 0px 135px;
}
}
@media(max-width:1024px){
    .section2{
    padding: 0px 72px;
}
}
@media(max-width:576px){
    .section2{
    padding: 0px 20px;
}
}
/* القسم الي مشتغلو بشار هاد البادينك الو  */